p {
  color: blue;
  text-align: center;
}

.quarts {
  background-color: purple;
}

.quarts p {
  color: pink;
  text-align: left;
}

.douge {
  background-color: teal;
}

.douge p {
  color: darkblue;
  text-align: left;
}

.bob {
  background-color: green;
}

.bob p {
  color: purple;
  text-align: left;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: orange;
  }
}

@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: crimson;
  }
}