p {
  color: blue;
  text-align: center;
}

.quarts {
  background-color: purple;
}

.quarts p {
  color: pink;
  text-align: left;
}

.douge {
  background-color: teal;
}

.douge p {
  color: darkblue;
  text-align: left;
}

.bob {
  background-color: green;
}

.bob p {
  color: purple;
  text-align: left;
}